!.mvn/wrapper/maven-wrapper.jar
node_modules/
yarn-error.log
src/main/resources/static/
src/main/resources/application-development.yaml
!src/main/resources/static/test/**
target/
src/main/resources/application-development.yaml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.history
.classpath
.project
package-lock.json
.settings
.vscode
.sts4-cache
.factorypath
