!.mvn/wrapper/maven-wrapper.jar
node_modules/
src/main/resources/static/
target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.history
.classpath
.project
package-lock.json
.settings