!.mvn/wrapper/maven-wrapper.jar
node_modules/
yarn-error.log
src/main/resources/static/
!src/main/resources/static/test/**
target/	target/
application-development.*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.history
.classpath
.project
package-lock.json
.settings
.vscode
.sts4-cache
.factorypath

# jEnv
.java-version
target
